body {
  font-family: Arial, Helvetica, sans-serif;
}
h1 {
  color: rgb(22, 31, 31);
  font-size: 24px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 10px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  color: rgb(26, 32, 32);
  font-size: 24px;
  font-weight: 500;
  height: 19px;
  line-height: 1px;
  list-style: none;
  margin: 0;
  padding: 0;
}

.date-time {
  color: rgb(22, 31, 31);
  font-size: 20px;
  font-weight: 100;
  line-height: 18px;
  margin-top: 10px;
}
.skies {
  color: rgb(22, 31, 31);
  font-size: 20px;
  font-weight: 100;
  line-height: 18px;
  margin-top: 10px;
}
.temperature strong {
  color: black;
  font-size: 64px;
  font-weight: 500;
  line-height: 0;
  margin-right: 10px;
}
.sunny {
  height: 5px;
  width: 5px;
  margin-right: 10px;
}
.details {
  font-weight: 300;
  color: blue;
}
.units {
  position: relative;
  top: -32px;
  left: 20px;
}
.a {
  font-weight: 100;
  color: blue;
}
.sky {
  text-transform: capitalize;
  color: rgb(22, 31, 31);
  font-size: 10px;
  font-weight: 100;
  line-height: 18px;
  margin-top: 10px;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}
.weather-app {
  border: 1px solid rgb(123, 126, 126);
  padding: 20px;
  border-radius: 10px;
}
